@media screen and (min-width: 320px) {
  div .containerAuthV2 {
    min-width: 100vw;
    min-height: 100vh;
    padding: 41px 30px 56px 48px;
    font-family: Arial, Helvetica, sans-serif, "Arial Narrow", Arial, sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .menuList {
      height: 100vh;
      a {
        font-size: 18px;
        font-weight: bold;
        color: black;
        margin-right: 13px;
      }
    }
    .header {
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 18px;
        font-weight: bold;
        color: black;
        margin-right: 13px;
      }
      .menu {
        display: none;
      }
      button.register {
        display: none;
      }
      .iconMenu {
        display: flex;
        height: 30px;
        width: 30px;
        margin: 0px;
        border: none;
        outline: none;

        background-color: transparent;
      }
      img.logo {
      }
    }
    .main {
      width: 100%;
      .title {
        h1 {
          font-size: 40px;
          font-weight: bold;
          margin: 20px 0 20px 0;
        }
        h2 {
          font-size: 17px;
          margin: 20px 0 20px 0;
        }
        .wrapButtons {
          display: flex;
          justify-content: space-between;
          margin: 20px 0 20px 0;
          button {
            background-color: #ee4064;
            color: #ffff;
            border: none;
            height: 44px;
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-weight: bold;
            outline: none;

            border-radius: 26px;
          }
          button:hover {
            color: #ee4064;
            background-color: #ffff;
            border: 2px solid #ee4064;
          }
          button.outline {
            color: black;
            border: 2px solid black;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffff;
          }
          button:hover {
            color: #ee4064;
            background-color: #ffff;
            border: 2px solid #ee4064;
          }
        }
      }
      img.image {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  div .containerAuthV2 {
    min-width: 100vw;
    min-height: 100vh;
    padding: 41px 30px 56px 48px;
    font-family: Arial, Helvetica, sans-serif, "Arial Narrow", Arial, sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      background-color: #ee4064;
      color: #ffff;
      border: none;
      height: 44px;
      width: 158px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      border-radius: 26px;
    }
    button:hover {
      color: #ee4064;
      background-color: #ffff;
      border: 2px solid #ee4064;
    }
    button.outline {
      color: black;
      border: 2px solid black;
      height: 44px;
      width: 158px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      border-radius: 26px;
      background-color: #ffff;
      margin-left: 16px;
    }
    button:hover {
      color: #ee4064;
      background-color: #ffff;
      border: 2px solid #ee4064;
    }
    .header {
      width: 90%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 18px;
        font-weight: bold;
        color: black;
        margin-right: 13px;
      }
      .menu {
        display: flex;
      }
      button.register {
        display: flex;
      }
      .iconMenu {
        display: none;
      }
    }
    .main {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      .title {
        width: 484px;
        height: 436px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px 87px 0px;

        h1 {
          font-size: 50px;
          font-weight: bold;
          margin: 0px;
        }
        h2 {
          font-size: 18.5px;
          margin: 0;
        }
        .wrapButtons {
          display: flex;
        }
      }
      img.image {
        width: 665px;
        height: 539px;
      }
    }
  }
}
