//mobile
@media screen and (min-width: 320px) {
  .containerAuthV2 {
    max-width: 100vw;
    font-family: "Gilroy", sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20px;
    font-size: 30px;

    button {
      background-color: #ee4064;
      color: #ffff;
      border: none;
      height: 43px;
      width: 158px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.5em;
      font-weight: bold;
      border-radius: 8vmin;
      outline: none;
    }
    button:hover {
      color: #ee4064;
      background-color: #ffff;
      border: 1px solid #ee4064;
    }

    .header {
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu {
        display: none;
      }
      button.register {
        display: none;
      }
      .iconMenu {
        display: flex;
        outline: none;
        background-color: transparent;
        border: none;
        width: 25px;
      }
      img.logo {
        width: auto;
      }
    }
    .main {
      width: 100%;
      .title {
        h1 {
          font-size: 1em;
          font-weight: bold;
          margin: 10vmin 0;
          color: black;
        }
        h2 {
          font-size: 0.5em;
          color: black;
          margin: 0;
        }
        .wrapButtons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin: 10vmin 0;

          button.outline {
            background-color: #ffff;
            border: 1px solid black;
            color: black;
            margin-left: 16px;
          }
          button.outline:hover {
            color: #ee4064;
            background-color: #ffff;
            border: 1px solid #ee4064;
          }
        }
      }
      img.image {
        width: 100%;
        height: auto;
      }
    }
  }
}

//tablet
@media screen and (min-width: 600px) {
  .containerAuthV2 {
    max-width: 100vw;
    font-family: "Gilroy", sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 40px;
    font-size: 50px;

    button {
      background-color: #ee4064;
      color: #ffff;
      border: none;
      height: 66px;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.5em;
      font-weight: bold;
      border-radius: 8vmin;
      outline: none;
    }
    button:hover {
      color: #ee4064;
      background-color: #ffff;
      border: 1px solid #ee4064;
    }

    .header {
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu {
        display: none;
      }
      button.register {
        display: none;
      }
      .iconMenu {
        display: flex;
        outline: none;
        background-color: transparent;
        border: none;
        width: 45px;
      }
      img.logo {
        width: auto;
      }
    }
    .main {
      width: 100%;
      .title {
        h1 {
          font-size: 1em;
          font-weight: bold;
          margin: 10vmin 0;
          color: black;
        }
        h2 {
          font-size: 0.5em;
          color: black;
          margin: 0;
        }
        .wrapButtons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin: 10vmin 0;
          padding: 0 5vmin;

          button.outline {
            background-color: #ffff;
            border: 1px solid black;
            color: black;
          }
          button.outline:hover {
            color: #ee4064;
            background-color: #ffff;
            border: 1px solid #ee4064;
          }
        }
      }
      img.image {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .containerAuthV2 {
    min-width: 100%;
    min-height: 100vh;
    padding: 43px 30px 52px 140px;
    font-family: "Gilroy", sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    button {
      background-color: #ee4064;
      color: #ffff;
      border: none;
      height: 44px;
      width: 158px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      border-radius: 26px;
    }
    button:hover {
      color: #ee4064;
      background-color: #ffff;
      border: 1px solid #ee4064;
    }

    .header {
      width: 90%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 14px;
        font-weight: bold;
        color: black;
        margin-right: 13px;
      }
      a:hover,
      a.focus {
        text-decoration: underline;
        opacity: 1;
      }
      .menu {
        display: flex;
      }
      button.register {
        display: flex;
      }
      .iconMenu {
        display: none;
      }
      img.logo {
        width: 109px;
      }
    }
    .main {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      .title {
        width: 484px;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 58px;
          margin: 0 0 24px 0;
          color: black;
        }
        h2 {
          font-size: 16px;
          color: black;
        }
        .wrapButtons {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          padding: 0;

          button.outline {
            background-color: #ffff;
            border: 1px solid black;
            color: black;
            margin-left: 16px;
          }
          button.outline:hover {
            color: #ee4064;
            background-color: #ffff;
            border: 1px solid #ee4064;
          }
        }
      }
      img.image {
        width: 605px;
        margin-top: 60px;
      }
    }
  }
}

//laptop & desktop
@media only screen and (min-width: 1280px) {
  .containerAuthV2 {
    min-width: 100%;
    min-height: 100vh;
    padding: 43px 30px 52px 140px;
    font-family: "Gilroy", sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    button {
      background-color: #ee4064;
      color: #ffff;
      border: none;
      height: 44px;
      width: 158px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      border-radius: 26px;
    }
    button:hover {
      color: #ee4064;
      background-color: #ffff;
      border: 1px solid #ee4064;
    }

    .header {
      width: 90%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 14px;
        font-weight: bold;
        color: black;
        margin-right: 13px;
      }
      a:hover,
      a.focus {
        text-decoration: underline;
      }
      .menu {
        display: flex;
      }
      button.register {
        display: flex;
      }
      .iconMenu {
        display: none;
      }
      img.logo {
        width: 109px;
      }
    }
    .main {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      .title {
        width: 484px;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 64px;
          margin: 0 0 24px 0;
          color: black;
        }
        h2 {
          font-size: 18px;
          color: black;
        }
        .wrapButtons {
          width: 100%;
          display: flex;
          justify-content: start;
          padding: 0;

          button.outline {
            background-color: #ffff;
            border: 1px solid black;
            color: black;
            margin-left: 16px;
          }
          button.outline:hover {
            color: #ee4064;
            background-color: #ffff;
            border: 1px solid #ee4064;
          }
        }
      }
      img.image {
        width: 665px;
        height: 539px;
        margin-top: 75px;
      }
    }
  }
}
